* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0 auto;
  padding: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

html, body {
  height: 100%;
}

.wrapper {
  height: 100vh;
}

.block {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.main-block {
  background: url(../img/main-circle.png) no-repeat center, -webkit-gradient(linear, left top, left bottom, from(#EC222A), to(#D12A31));
  background: url(../img/main-circle.png) no-repeat center, linear-gradient(180deg, #EC222A 0%, #D12A31 100%);
  -o-object-fit: cover;
     object-fit: cover;
  background-size: auto;
}

.main-block__title {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-family: 'Montserrat Bold';
  font-size: 80px;
  line-height: 160px;
  color: #fff;
  text-shadow: 0px 0px 5px #FFFFFF;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-2deg);
          transform: translate(-50%, 0%) rotate(-2deg);
}

.main-block__container {
  position: absolute;
  background: #FDE500;
  -webkit-box-shadow: 0px 0px 64px #FDE500, -5px 2px 42px rgba(250, 250, 250, 0.55), inset 4px 0px 40px rgba(255, 255, 255, 0.15), inset -4px 0px 40px rgba(255, 255, 255, 0.15), inset 0px -4px 40px rgba(255, 255, 255, 0.15), inset 0px 4px 40px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 0px 64px #FDE500, -5px 2px 42px rgba(250, 250, 250, 0.55), inset 4px 0px 40px rgba(255, 255, 255, 0.15), inset -4px 0px 40px rgba(255, 255, 255, 0.15), inset 0px -4px 40px rgba(255, 255, 255, 0.15), inset 0px 4px 40px rgba(255, 255, 255, 0.15);
  border-radius: 10.3552px;
  -webkit-transform: rotate(-4deg) translate(-50%, 0%);
          transform: rotate(-4deg) translate(-50%, 0%);
  width: 1297.02px;
  height: 271.24px;
  top: 300px;
  left: 50%;
}

.container__info {
  position: absolute;
  font-family: 'Montserrat Italic Bold';
  color: #333333;
  text-transform: uppercase;
  line-height: 58px;
  font-weight: 800;
  font-size: 56px;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  padding: 0px 8px 0px 8px;
}

.main-block__details {
  cursor: pointer;
  position: absolute;
  bottom: 90px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

.main-block__details img {
  position: relative;
  width: 52px;
  height: 28px;
}

.main-block__details span {
  margin-left: 10px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.main-block__details h3 {
  font-family: 'Montserrat Italic Bold';
  color: #FFFFFF;
  text-shadow: 0px 0px 3px #FFFFFF;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  font-weight: 800;
  font-size: 46.0211px;
  line-height: 56px;
}

.main-block__details:hover span {
  margin-left: 0px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.cookies {
  position: fixed;
  top: 100%;
  left: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px 30px 0px 0px;
}

.cookies h3 {
  position: absolute;
  color: #fff;
  font-family: 'Roboto';
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cookies__hide {
  background: transparent;
  border: none;
  font-family: 'Roboto';
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  cursor: pointer;
  padding-left: 25px;
}

.start-quiz {
  background-color: #fff;
  position: absolute;
  width: 420px;
  height: 190px;
  bottom: 75px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 5px;
  z-index: 0;
  display: none;
  opacity: 0;
}

.start-quiz h3 {
  font-family: 'Montserrat';
  color: #333333;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  position: absolute;
  top: 25px;
  left: 0px;
  text-align: center;
}

.start-quiz button {
  position: absolute;
  bottom: 20px;
  left: 55px;
  background: linear-gradient(93.19deg, #FFFF00 7.96%, #FFF500 94.91%), linear-gradient(93.19deg, #FFFF00 7.96%, #FFE600 94.91%);
  -webkit-box-shadow: 0px 6px 20px rgba(255, 250, 0, 0.25);
          box-shadow: 0px 6px 20px rgba(255, 250, 0, 0.25);
  border-radius: 140px;
  border: none;
  width: 310px;
  height: 71px;
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  color: #333333;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.start-quiz button img {
  width: 8px;
  height: 14px;
  margin-left: 8px;
}

.start-quiz button:hover {
  opacity: 0.8;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  width: 519px;
  height: 430px;
  display: none;
  opacity: 0;
}

.question {
  color: #000000;
  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Montserrat';
  text-align: center;
  margin-top: 30px;
}

.general {
  line-height: 30px;
  font-family: 'Montserrat Bold';
  text-align: center;
  font-weight: bold;
  color: #333333;
  font-size: 25px;
  margin-top: 5px;
}

.q1-answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
  height: 190px;
  margin-top: 20px;
}

.q1-answer {
  width: 133px;
  height: 54px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  color: #292929;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: 'Montserrat';
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.q1-answer:hover {
  background: #E0DEDE;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 190px;
  margin-top: 20px;
}

.answer {
  width: 272px;
  height: 54px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  color: #292929;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: 'Montserrat';
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.answer:hover {
  background: #E0DEDE;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.return {
  background: transparent;
  border: none;
  width: 90px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #D10A12;
}

.return img {
  width: 5px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: 5px;
}

.q5-answers {
  width: 400px;
}

.q5-answer {
  width: 460px;
  height: 60px;
  position: relative;
}

.q5-answer span {
  color: #292929;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: 'Montserrat';
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100px;
}

.q5-answer input {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 272px;
  height: 54px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  color: #292929;
  line-height: 22px;
  font-size: 18px;
  font-family: 'Montserrat';
  padding: 0px 15px 0px 15px;
}

.q5-answer select {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 272px;
  height: 54px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  color: #C6C6C6;
  line-height: 22px;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat';
  padding: 0px 0px 0px 15px;
}

.btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background: linear-gradient(93.19deg, #FFFF00 7.96%, #FFF500 94.91%), linear-gradient(93.19deg, #FFFF00 7.96%, #FFE600 94.91%);
  -webkit-box-shadow: 0px 6px 20px rgba(255, 250, 0, 0.25);
          box-shadow: 0px 6px 20px rgba(255, 250, 0, 0.25);
  border-radius: 140px;
  border: none;
  width: 310px;
  height: 71px;
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  color: #333333;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.btn img {
  width: 8px;
  height: 14px;
  margin-left: 8px;
}

.btn:hover {
  opacity: 0.8;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.quiz-q6 {
  opacity: 0;
  display: none;
}

.quiz-q6-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  width: 743px;
  height: 478px;
  z-index: 3;
}

.q6 {
  font-size: 16px;
  line-height: 20px;
}

.q6-gift {
  font-family: 'Montserrat Bold';
  font-size: 28px;
  line-height: 34px;
  color: #333333;
  text-align: center;
  margin-top: 30px;
  max-width: 620px;
}

.q6-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.q6-benefit {
  width: 150px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.q6-benefit h3 {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.q6-get-btn {
  width: 365px;
  font-family: 'Montserrat Bold';
  bottom: 70px;
}

.q6-decline-btn {
  background: transparent;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #333333;
  opacity: 0.8;
}

.q6-decline-btn:hover {
  opacity: 0.4;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.q6-card__right {
  position: absolute;
  top: 0;
  left: 65%;
  z-index: 0;
  -webkit-animation: card-right 1s;
          animation: card-right 1s;
}

@-webkit-keyframes card-right {
  0% {
    top: -40%;
  }
  100% {
    top: 0;
  }
}

@keyframes card-right {
  0% {
    top: -40%;
  }
  100% {
    top: 0;
  }
}

.q6-card__bottom {
  position: absolute;
  bottom: 0;
  left: 15%;
  height: 216px;
  z-index: 5;
  -webkit-animation: card-bottom 1s;
          animation: card-bottom 1s;
}

@-webkit-keyframes card-bottom {
  0% {
    left: 0;
    opacity: 0;
  }
  25% {
    left: 10%;
  }
  100% {
    left: 15%;
  }
}

@keyframes card-bottom {
  0% {
    left: 0;
    opacity: 0;
  }
  25% {
    left: 10%;
  }
  100% {
    left: 15%;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .main-block__title {
    font-size: 60px;
    line-height: 58px;
    top: 40px;
  }
  .main-block__container {
    width: 542px;
    height: 134px;
  }
  .container__info {
    font-size: 30px;
    line-height: 28px;
  }
  .main-block__details h3 {
    font-size: 34px;
  }
  .main-block__details img {
    width: 38px;
    height: 20px;
  }
  .q6-card__right img {
    width: 75%;
  }
  .q6-card__bottom {
    height: 151.19px;
    left: 10%;
  }
  .q6-card__bottom img {
    width: 70%;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  @-webkit-keyframes card-bottom {
    0% {
      left: 0;
      opacity: 0;
    }
    25% {
      left: 15%;
    }
    100% {
      left: 10%;
    }
  }
  @keyframes card-bottom {
    0% {
      left: 0;
      opacity: 0;
    }
    25% {
      left: 15%;
    }
    100% {
      left: 10%;
    }
  }
}

@media all and (max-width: 767px) {
  .main-block__title {
    font-size: 37px;
    line-height: 36px;
    top: 100px;
    min-width: 340px;
  }
  .main-block__container {
    width: 356px;
    height: 88px;
  }
  .container__info {
    font-size: 16px;
    line-height: 21px;
  }
  .main-block__details {
    display: none;
  }
  .start-quiz {
    display: block;
    opacity: 1;
    width: 346px;
    height: 160px;
  }
  .start-quiz h3 {
    font-size: 15px;
    line-height: 15px;
    width: 241px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .start-quiz img {
    width: 346px;
    height: 160px;
  }
  .start-quiz button {
    width: 203px;
    height: 47px;
    font-size: 16px;
    line-height: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .start-quiz button img {
    width: 6px;
    height: 12px;
  }
  .quiz {
    width: 336px;
    height: 435px;
  }
  .quiz-q5 {
    width: 336px;
    height: 515px;
  }
  .q1-answers {
    width: 284px;
    height: 250px;
  }
  .q5-answers {
    width: 272px;
    height: 275px;
  }
  .q5-answer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
  }
  .q5-answer span {
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    font-size: 18px;
    line-height: 22px;
    width: auto;
  }
  .q5-answer input {
    bottom: 0;
    top: auto;
    left: 0;
    width: 272px;
    height: 54px;
    font-size: 18px;
  }
  .q5-answer select {
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
  }
  .q5-next-btn {
    bottom: 20px;
  }
  .quiz-q6-container {
    width: 336px;
    height: 515px;
  }
  .q6-gift {
    font-size: 16px;
    line-height: 20px;
    width: 300px;
    margin-top: 10px;
  }
  .q6-benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 220px;
    height: 220px;
    margin-top: 15px;
  }
  .q6-benefit {
    width: 220px;
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .q6-benefit img {
    left: 0;
    top: 0;
  }
  .q6-benefit h3 {
    width: 150px;
    margin-left: 20px;
    top: 0;
    text-align: left;
  }
  .q6-get-btn {
    width: 252px;
    height: 64px;
    font-size: 18px;
    line-height: 22px;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 60px;
  }
  .q6-card__right {
    -webkit-animation: none;
            animation: none;
  }
  .q6-card__right img {
    width: 100%;
  }
  .q6-card__bottom {
    height: 21.5%;
    left: 0%;
    -webkit-animation: none;
            animation: none;
  }
  .q6-card__bottom img {
    width: 90%;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */